@import 'https://fonts.googleapis.com/css?family=Open+Sans';


@black: #383C4F;
@white: #F1F1F3;
@red: #FC6A79;
@blue: #0063BD;
@yellow: #FFDBD5;
@green: #00C8DA;
@grey: #9B9EA7;

@transition: 0.15s;

@opensans: 'Open Sans', sans-serif;
